registry=https://npm.pkg.github.com
//registry.npmjs.org/:_authToken=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
//npm.pkg.github.com/:_authToken=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
package-lock=false
